[Unit]
Description=OreSat Linux D-Bus based updater.

[Service]
Type=forking
PIDFile=/run/oresat-linux-updaterd.pid
ExecStart=/usr/bin/python3 /usr/bin/oresat-linux-updater -d

[Install]
WantedBy=multi-user.target
